@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme inline {
  --shadow-input: 0px 2px 3px -1px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
.font-neon-outline {
  font-family: var(--font-neon-outline);
}

body {
  /* background: var(--background); */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #18181b inset; /* bg-gray-600 */
  -webkit-text-fill-color: #e5e7eb; /* text-gray-200 */
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #be185d;
}

.mobile-h-minus-78 {
  height: calc(100vh - 118px);
}

@media (max-width: 1024) {
  .mobile-h-minus-78 {
    height: calc(100vh - 64px);
  }
}
.playwrite-dk-loopet {
  font-family: "Playwrite DK Loopet", cursive;
  font-weight: 400; /* adjust as needed */
  font-style: normal;
}
